:host {
  height: 100%;
}

core-list {
  height: 100%;
  background-color: #000000;
}

div.manga-item {
  width: 197px;
  height: 310px;
  border: 1px solid #000000;
  position: relative;
}

div.manga-item > a {
  color: #000000;
  text-decoration: none;
}

div.manga-item > .info-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

div.manga-item > .info-wrapper > .info {
  padding: 2px;
}

div.manga-item > .info-wrapper > .info > img {
  vertical-align: middle;
}

div.manga-item > .info-wrapper > .info > .title {
  padding-bottom: 3px;
}