#view-index {
  display: none;
  height: 100%;
  flex-direction: column;
}

#header {
  height: 58px;
  padding: 12px;
  flex: none;
}

#search { width: 250px; }

#header > form {
  width: 684px;
  margin-left: auto;
  margin-right: auto;
}

manga-list {
  flex: 1;
}

